<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIAppFonts</key>
	<array>
		<string>ethnocentric.rg-regular.otf</string>
	</array>
    
    <key>NSMicrophoneUsageDescription</key>
    <string>L'app ha bisogno del microfono per ricevere comandi vocali.</string>

    <key>NSSpeechRecognitionUsageDescription</key>
    <string>Usiamo il riconoscimento vocale per controllare il timer (es: start, pausa, riprendi).</string>
</dict>
</plist>
